@import "../../assets/styles/variables.scss";

.BaseInput {
  display: flex;
  align-items: center;
  justify-content: space-between;

  label {
    margin-right: 25px;
  }

  input {
    display: block;
    width: 300px;
    height: 40px;
    margin-top: 10px;
    padding: 0 15px;
    border: 1px solid rgb(185, 185, 185);
    border-radius: 5px;
    margin-top: 0;
  }

  .CheckboxContainer {
    position: relative;

    label {
      width: 16px;
      height: 16px;
      margin-right: 0;
      cursor: pointer;

      &:before {
        content: "";
        display: inline-block;
        width: 16px;
        height: 16px;
        border: 2px solid $color-main;
        border-radius: 3px;
        vertical-align: middle;
      }
    }
  }

  .CustomCheckbox {
    display: none;

    &:checked + label:after {
      content: "\2713";
      font-size: 16px;
      color: $color-main;
      position: absolute;
      top: 0;
      left: 4px;
    }
  }

  &.Invalid {
    input {
      border-color: $color-red;
    }
  }
}
